* {
    margin: 10px;
}

:root{
    --RoseGold: #B76E79
}

#navBar {
    background-color: var(--RoseGold)
}

#navBar a {
    /* How do I make this work for full as well as half screen? */
    /* Right now, it works at half screen but is too little at full-screen */
    padding-inline: 8%;
    text-decoration: none;
    color: black;
}

.container {
    padding: 0px;
}


#heading {
    font-family: Pixelify Sans;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px var(--RoseGold), 0 0 10px var(--RoseGold), 0 0 15px var(--RoseGold);
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#dancingLeft {
    font-family: Dancing Script;
    font-weight: 400px;
    text-align: left;
}

#dancingRight {
    font-family: Dancing Script;
    font-weight: 400px;
    text-align: right;
}

#dancingCenter {
    font-family: Dancing Script;
    font-weight: 400px;
    text-align: center;
}

#italics {
    font-style: italic;
}

#dancingNeonRoseGold {
    font-weight: 400px;
    text-align: center;
    text-shadow: 0 0 5px var(--RoseGold), 0 0 10px var(--RoseGold), 0 0 15px var(--RoseGold);
    color: black;
}

#pixelifyRoseGold {
    font-family: Pixelify Sans;
    font-size: xx-large;
    background-color: var(--RoseGold);
}

#pixelifyNeonRoseGold {
    font-family: Pixelify Sans;
    font-size: xx-large;
    text-shadow: 0 0 5px var(--RoseGold), 0 0 10px var(--RoseGold), 0 0 15px var(--RoseGold);
}

#pixelifyRightRoseGold {
    font-family: Pixelify Sans;
    font-size: xx-large;
    text-align: right;
    background-color: var(--RoseGold);
    padding-right: 0%;
    margin: 0;
}

#roseGold {
    background-color: var(--RoseGold);
}

#boldNCenterNhighlight {
    font-weight: bold;
    text-align: center;
    font-size: large;
    background-color: var(--RoseGold);
}

#strikethrough {
    text-decoration: line-through;
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#div2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    background-color: var(--RoseGold);
   
}

#clickableImg{
    border-radius: 15%;
    height: 180px;
    text-align: center;
}

#sec2 {
    position: relative;
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
}

#sec2 img{
    display: block;
}

#sec3 {
    position: relative;
    display: inline-block;
    grid-column: 2;
    grid-row: 1;
}

#sec3 img{
    display: block;
}

#sec4 {
    position: relative;
    display: inline-block;
    grid-column: 3;
    grid-row: 1;
}

#sec4 img{
    display: block;
}

#sec5 {
    position: relative;
    display: inline-block;
    grid-template-columns: auto;
}

#sec5 img{
    display: block;
}

#textOverlay{
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 0%;
    left: 5%;
    font-family: Pixelify Sans;
    font-size: xx-large;
    text-shadow: 0 0 5px var(--RoseGold), 0 0 10px var(--RoseGold), 0 0 15px var(--RoseGold);
}

#div3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#clickableIcon {
    height: 100px;
    border-radius: 20%;
}

#icons {
    text-align: center;
    
}

#inputBox {
    background-color: var(--RoseGold);
    color: black;
}

#navBarSpacing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: var(--RoseGold)
}

#first {
    grid-column: 1;
    text-decoration: none;
    color: black;
}

#second {
    grid-column: 2;
    text-decoration: none;
    color: black;
}

#third {
    grid-column: 3;
    text-decoration: none;
    color: black;
}

#fourth {
    grid-column: 4;
    text-decoration: none;
    color: black;
}

#fifth {
    grid-column: 5;
    text-decoration: none;
    color: black;
}

#sec3 {
    position: relative;
    display: inline-block;
    grid-column: 2;
}

#sec4 {
    position: relative;
    display: inline-block;
    grid-column: 3;
}

#sec5 {
    position: relative;
    display: inline-block;
    
}

#div4 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--RoseGold);
}

#div5 {
    text-align: center;
    display: flex`;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--RoseGold);
}

#buy {
    grid-row: 1;
}

#wires {
    grid-row: 1;
}

#sell {
    grid-row: 1;
}

#rent {
    grid-row: 2;
}

#lend {
    grid-row: 2;
}

#txtOverlay{
    padding: 0%;
    margin: 0%;
    position: relative;
    top: 0%;
    left: 5%;
    font-family: Pixelify Sans;
    font-size: xx-large;
    text-shadow: 0 0 5px var(--RoseGold), 0 0 10px var(--RoseGold), 0 0 15px var(--RoseGold);
}

#coloredHeading {
    font-family: Pixelify Sans;
    font-weight: bold;
    text-align: center;
    background-color: var(--RoseGold);
}

#pixelify {
    font-family: Pixelify Sans;
}

table, td, th {
    border: solid;
    border-color: black; 
    background-color: var(--RoseGold);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#checkoutBtn {
    background-color: var(--RoseGold);
}

/* This is the code for animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 700px) {
        body {background-color: black;}
}

#div1 {
    background-image: url("../BrainImage1.png");
    background-size: cover;
    background-position-y: center;
    background-position: auto; /*Center made half the picture disappear*/
    height: 100vh; /*100px, 100% and 10px have no difference*/
    background-repeat: no-repeat; /*No difference no matter what I do*/
    width: 100vh;
    margin: 0 auto;
}

#pixelifyPNeonRoseGold {
    font-family: Pixelify Sans;
    text-shadow: 0 0 5px var(--RoseGold), 0 0 10px var(--RoseGold), 0 0 15px var(--RoseGold);
}

#div6 {
    background-color: var(--RoseGold);
}

#div7 {
    background-color: var(--RoseGold);
}