* {
    margin: 0;
    padding: 0;
}

:root{
    --RoseGold: #B76E79;
    --Bouquet: #B76E9D;
    --HippiePink: #A2505D;
    --GreenSheen: #6EB7AC;
}

body{
    background-color: var(--HippiePink);
}

#heading {
    font-family: Pixelify Sans;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px var(--RoseGold), 0 0 10px var(--RoseGold), 0 0 15px var(--RoseGold);
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#dancingLeft {
    font-family: Dancing Script;
    font-weight: 400px;
    text-align: left;
}

#dancingRight {
    font-family: Dancing Script;
    font-weight: 400px;
    text-align: right;
}

#dancingCenter {
    font-family: Dancing Script;
    font-weight: 400px;
    text-align: center;
}

#italics {
    font-style: italic;
}

#dancingNeonRoseGold {
    font-weight: 400px;
    text-align: center;
    text-shadow: 0 0 5px var(--RoseGold), 0 0 10px var(--RoseGold), 0 0 15px var(--RoseGold);
    color: black;
}

#pixelifyRoseGold {
    font-family: Pixelify Sans;
    font-size: xx-large;
    background-color: var(--RoseGold);
}

#pixelifyNeonRoseGold {
    font-family: Pixelify Sans;
    font-size: xx-large;
    text-shadow: 0 0 5px var(--RoseGold), 0 0 10px var(--RoseGold), 0 0 15px var(--RoseGold);
}

#pixelifyRightRoseGold {
    font-family: Pixelify Sans;
    font-size: xx-large;
    text-align: right;
    background-color: var(--RoseGold);
    padding-right: 0%;
    margin: 0;
}

#roseGold {
    background-color: var(--RoseGold);
}

#boldNCenterNhighlight {
    font-weight: bold;
    text-align: center;
    font-size: large;
    background-color: var(--RoseGold);
}

#strikethrough {
    text-decoration: line-through;
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


#clickableImg{
    border-radius: 15%;
    height: 180px;
    text-align: center;
}

#sec2 {
    position: relative;
    display: inline-block;
}

#sec2 img{
    display: block;
}

#sec3 {
    position: relative;
    display: inline-block;
}

#sec3 img{
    display: block;
}

#sec4 {
    position: relative;
    display: inline-block;
}

#sec4 img{
    display: block;
}


#sec5 img{
    display: block;
}

#textOverlay{
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 0%;
    left: 5%;
    font-family: Pixelify Sans;
    font-style: black;
    font-size: xx-large;
    text-shadow: 0 0 5px var(--RoseGold), 0 0 10px var(--RoseGold), 0 0 15px var(--RoseGold);
}

#txtOverlay1{
    padding: 0%;
    margin: 0%;
    position: relative;
    top: 0%;
    left: 5%;
    font-family: Pixelify Sans;
    font-size: xx-large;
    text-shadow: 0 0 5px var(--RoseGold), 0 0 10px var(--RoseGold), 0 0 15px var(--RoseGold);
}

#clickableIcon {
    height: 100px;
    border-radius: 20%;
}

#icons {
    text-align: center;
    
}

#inputBox {
    background-color: var(--RoseGold);
    color: black;
}

#navBarSpacing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: var(--RoseGold)
}

#first {
    grid-column: 1;
    text-decoration: none;
    color: black;
}

#second {
    grid-column: 2;
    text-decoration: none;
    color: black;
}

#third {
    grid-column: 3;
    text-decoration: none;
    color: black;
}

#fourth {
    grid-column: 4;
    text-decoration: none;
    color: black;
}

#fifth {
    grid-column: 5;
    text-decoration: none;
    color: black;
}

#sec3 {
    position: relative;
    display: inline-block;
    grid-column: 2;
}

#sec4 {
    position: relative;
    display: inline-block;
    grid-column: 3;
}

#sec5 {
    position: relative;
    display: inline-block;
    
}




#coloredHeading {
    font-family: Pixelify Sans;
    font-weight: bold;
    text-align: center;
    background-color: var(--RoseGold);
}

#pixelify {
    font-family: Pixelify Sans;
}

table, td, th {
    border: solid;
    border-color: black; 
    background-color: var(--RoseGold);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#checkoutBtn {
    background-color: var(--RoseGold);
}


/* This is the code for animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* @media only screen and (max-width: 700px) {
        body {background-color: black;}
} */

#pixelifyPNeonRoseGold {
    font-family: Pixelify Sans;
    text-shadow: 0 0 5px var(--RoseGold), 0 0 10px var(--RoseGold), 0 0 15px var(--RoseGold);
}

#landingPgPics{
    text-align: center;
    justify-content: center;
    margin-inline: 50%;
    display: flex;
    gap: 100px;
}

#aboutPgTxt {
    border: solid;
    border-color: black;
    
}

#productPgPics {
    text-align: center;
    justify-content: center;
    margin-inline: 50%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 100px;
}

#contactPgPics {
    text-align: center;
    justify-content: center;
    margin-inline: 50%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
}

#buy {
    grid-row: 1;
    grid-column: 1;
}

#wires {
    grid-row: 1;
    grid-column: 2;
}

#sell {
    grid-row: 1;
    grid-column: 3;
}

#rent {
    grid-row: 2;

}

#lend {
    grid-row: 2;
}
@media screen and (max-width: 1000px) {
    #productPgPics {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #landingPgPics {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 700px){
    #contactPgPics {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}